:root {
    --color1: darkred;
    --color2: #C67F7F;
    --color3: #ececec;
    --sfondo: #6C757E;
}

.logo{
    width: 30%;
    height: 10vh;
}

.ul3 {
    list-style: none;
}



li {
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-decoration-line: none;
}

a {
    text-decoration: none;
    color: var(--sfondo);
}

a:hover {
    color: var(--sfondo);
}

.contenuto {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3)), url(./media/switzerland-862870_1920.jpg);
    background-position: center;
    background-size: cover;
}

.dimensione {
    padding: 0;
}

h1 {
    font-family: 'Nova Square', cursive;
    color: var(--color1);
    position: absolute;
}

.posizione {
    width: 100%;
    height: 100%;
}

.box {
    width: 50%;
}

.colore{
    background: var(--color3);
    position: relative;
}

p {
    font-size: large;
    color: var(--sfondo);
    font-family: 'Nova Square', cursive;
    position: relative;
}

.sinistra {
    position: absolute;
    margin-left: -24px;
    margin-top: -8px;
    color: var(--color1);

}

.destra {
    position: absolute;
    margin-left: 5px;
    margin-top: 12px;
    color: var(--color1);

}

.dimensioni-icona {
    font-size: 60px;
    color: var(--color1);
}
.margine-icone {
    padding-top: 100px;
    background: var(--color3);
}

hr {
    width: 80%;
    color: var(--color1);
    border-top: 5px solid;
}

.timeline {
    width: 70%;
    border: 2px solid var(--color1);
    position: relative;
}

.circle::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid var(--color1);
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -12px;
    left: -10px;
}

.sfondo {
    background: var(--color3);
}

.spazio2 {
    margin-top: 190px;
}

.contenuto2 {
    width: 100%;
    height: 73vh;
    background: var(--color3);
}

.posizione2 {
    width: 100%;
    height: 100%;
}

/* CSS */
.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: var(--color1);
    border: 1px solid transparent;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 30px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: absolute;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    margin-top: 100px;
  }
  
  .button-5:hover,
  .button-5:focus {
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5:hover {
    transform: translateY(-1px);
  }
  
  .button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }
  
.paragrafi {
    height: 10vh;
}

.timeline1 {
    width: 50%;
    border-left: 3px solid var(--color1);
    padding-left: 16px;
}

.testo {
    font-family: 'Nova Square', cursive;
    color: var(--color1);
}

.circle2::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid var(--color1);
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -42px;
    left: -27px;
}

.circle3::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid var(--color1);
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: -34px;
    left: -27px;
}

.colore-testo {
    color: var(--color1);
}

.colore-paragrafo {
    color: #000;
}

.contenuto-destro {
    z-index: -1;;
}

.zona-pallini {
    background: var(--color3);
}

.padding-ourteam {
    padding-top: 40px;
    font-family: 'Nova Square', cursive;
    color: var(--color1);
}

.circle4::before {
    content: "background-image: url(./media/fog.jpg);";
    width: 100px;
    height: 100px;
    border: 2px solid var(--color1);
    border-radius: 50%;
    background-image: url(./media/fog.jpg);
}

.testo2 {
    background: var(--color3);
    font-family: 'Nova Square', cursive;
    color: var(--color1);
    padding-top: 126px;
    padding-left: 40px;
}

.bg-team {
    background-color: var(--color3);
}

.card-img-top {
    border: 5px solid var(--color1); padding: 11px; background: var(--color3);
    border-radius: 50%;
    width: 100%;
    height: 35vh;
}

.circolare {
    border: 5px solid var(--color1); padding: 11px; background: var(--color3);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border-radius:999em;
  -moz-border-radius:999em; 
  -webkit-border-radius:999em;
    -o-border-radius: 999em;
}

.figure1 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.alberirossi{
    
    height: 400px;
    width: 100%;
    background-image:url(./media/other.png);
    padding: 0;
}
.footer{
    background-color: var(--color1);
    height: 600px;
    width: 100%;
}

.rajdhani{
    font-family:'Rajdani', sans-serif;
}

.link1{
    display: flex;
    flex-wrap: nowrap;
}

.testo3 {
    font-family: 'Nova Square', cursive;
}

.p-ipsum {
    color: #000;
}

.h-ipsum {
    color: var(--color1);
}

.fa-brands {
    color: var(--color1);
}

.benefit {
    padding-top: 146px;
}

.card-img-top2 {
    border: 5px solid var(--color1); padding: 11px; background: var(--color3);
    border-radius: 50%;
    width: 41%;
    height: 35vh;
}

.card-img-top3 {
    border: 5px solid var(--color1); padding: 11px; background: var(--color3);
    border-radius: 50%;
    width: 70%;
    height: 35vh;
    margin-bottom: 20px;
}














@media only screen and (max-width: 1200px) {
    .card-img-top {
        height: 20vh;
    }

    .card-img-top2 {
        width: 55%;
    }

    .card-img-top3 {
        width: 96%;
    }
}


@media only screen and (max-width: 768px) {
    .spazio {
        margin-top: 30px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    
    .nuovo-ul {
        display: flex;
        flex-direction: column;
    }

    .box {
        width: 90%;
    }

    .posizione {
        width: 100%;
    }

    .posizione2 {
        width: 118vw;
    }

    .link1{
        flex-direction: column;
        width: 100%;
    }
    .footer{
        height: 100%;
    }
    
    .card-img-top {
        height: 38vh;
    }

    .card-img-top2 {
        width: 82%;
    }

    .card-img-top3 {
        width: 80%;
    }

}